.jumbotron-main {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../data/background.jpg") bottom;
  background-size: cover;
  color: #ffffff;
  background
}

.card-img-top {
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 0 auto;
}

a > .card-img-top {
  text-align: center;
  margin: 0 auto;
}

.card {
  min-width: 200px;
}

.card-background {
    background-color: #c4c4c4;
}

.card-body {
  background-color: #ffffff;
}

.footer-button {
  color: #ffffff;
  font-size: 18pt;
}

/* Necessary for sticking footer to the bottom of the page (if page is smaller than window height, then to the bottom of the window) */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Necessary for sticking footer to the bottom of the page (if page is smaller than window height, then to the bottom of the window) */
main {
  flex: 1;
}
