.card-img-top {
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: 0 auto;
}

.card {
  background-color: #e9ecef;
  min-width: 200px;
}

.card-body {
  background-color: #ffffff;
}

.footer-button {
  color: #ffffff;
  font-size: 18pt;
}

/* Necessary for sticking footer to the bottom of the page (if page is smaller than window height, then to the bottom of the window) */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Necessary for sticking footer to the bottom of the page (if page is smaller than window height, then to the bottom of the window) */
main {
  flex: 1;
}
