---
permalink: /404.html
title: Not Found
---
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {% include gtag %}
  {% include head %}
  {% seo %}
</head>

<body>

  <!-- Navbar -->
  {% include navbar.html %}

  <!-- Error message -->
  <main class="mt-5">
    <div class="container mt-4 text-center">
      <h1 class="mb-3"><i class="fas fa-times pr-4"></i>Page Not Found<i class="fas fa-times pl-4"></i></h1>
    </div>
  </main>

  <!-- Footer -->
  {% include footer.html %}

  <!-- Bootstrap JavaScript -->
  {% include bootstrap_javascript %}

</body>

</html>
