---
permalink: /
title: Home
layout: default
---
<main class="mt-5">

  <!-- Internet Explorer warning -->
  <div class="container mt-4 ie-warning">
    <p class="ie-warning-text">Please note that this website does not fully support Internet Explorer.</p>
  </div>

  <!-- Jumbotron -->
  <div class="container mt-4">
    <div class="jumbotron jumbotron-main" title="Rokas Jankunas">
      <h1 class="display-4">Rokas Jankunas</h1>
      <p class="lead">My name is Rokas Jankunas and I'm a Software Developer and a Customer Support Agent. My personal projects have been featured on Lifehacker, Android Authority, xda-developers and Gizmodo.</p>
      <a class="btn btn-primary btn-lg btn-raised" href="/about" role="button">Learn more</a>
    </div>
  </div>

  <!-- Contribution graph using https://github.com/IonicaBizau/github-calendar. Hidden on small and extra small devices, as well as IE due to issues -->
  <div class="container mt-5 d-none d-md-block contributions-graphs">
    <div class="card">
      <script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>
      <div class="calendar pt-2">Loading contribution graph</div>
      <script>
        new GitHubCalendar(".calendar", "layoutxml");
      </script>
    </div>
  </div>

  <!-- Pinned projects, customized Bootstrap cards -->
  <div class="container mt-5">

    <!-- Card title and button -->
    <div class="row">
      <div class="col-12">
        <h2 class="mb-3" id="pinned-projects-title"><i class="fas fa-star pr-2"></i>Pinned projects</h2>
        <a class="btn btn-primary btn-raised float-right mb-3 ml-2" href="/projects" role="button">See more</a>
      </div>
    </div>

    <div class="card-deck d-flex flex-wrap-reverse">

      <!-- Project #1 -->
      {% include projects/applistmanager.html %}

      <!-- Project #2 -->
      {% include projects/twelveish.html %}

      <!-- Project #3 -->
      {% include projects/sabs.html %}

      <!-- Project #4 -->
      {% include projects/ticktock.html %}

    </div>
  </div>
</main>
