<div class="card card-background mb-4">
  <a href="/projects/twelveish" class="text-center"><img class="card-img-top mt-3 mb-3" src="{{site.baseurl}}/data/projects/logos/twelveish.png" alt="Rokas Jankunas | Twelveish"></a>
  <div class="card-body d-flex flex-column rounded">
    <h5 class="card-title">Twelveish</h5>
    <p class="card-text mb-3">Twelveish is a unique Wear OS (Android Wear) Watch Face that displays the approximate time in words (in multiple languages).</p>
    <p class="card-text mb-3 font-weight-bold">As featured in:</p>
    <div class="container mb-3">
      <div class="row">
        <div class="col text-center align-items-end d-flex flex-wrap justify-content-center">
          <img src="{{site.baseurl}}/data/badges/android_authority.png" alt="Android Authority logo" class="featured-badge mb-3">
        </div>
      </div>
    </div>
    <a href="/projects/twelveish" class="btn btn-primary mt-auto mr-auto mb-0">Read more</a>
  </div>
</div>
