<footer class="footer bg-dark mt-5 pt-4 pb-2">
  <p class="text-light text-left">© Rokas Jankunas 2018
    <a href="https://www.linkedin.com/in/jankunasrokas/"><i class="fab fa-linkedin footer-button float-right fbml"></i></a>
    <a href="https://play.google.com/store/apps/dev?id=9095680560714446900"><i class="fab fa-google-play footer-button float-right fbml fbmr"></i></a>
    <a href="https://github.com/LayoutXML"><i class="fab fa-github footer-button float-right fbmr"></i></a></p>
</footer>
