fa-icon {
  color: #ffffff;
}

a {
  word-break: break-word;
}

.contact-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("~src/assets/background_mountains_low.jpg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("~src/assets/background_mountains_low.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("~src/assets/background_mountains_low.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("~src/assets/background_mountains_low.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  color: #ffffff;
}

.card {
  background: none;
  border: none;
}

.corner-helper {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #ffffff;
  height: 1rem;
}
