<main class="mt-5">
  <div class="container mt-4">
    <h1 class="mb-3">Contact me</h1>

    <div class="card">
      <div class="card-body p-4">

        <div class="row">
          <div class="col-12 col-sm-1 text-center">
            <h3 class="contact-h3 contact-icon"><fa-icon [icon]="faMapMarker" class="pr-3"></fa-icon></h3>
          </div>
          <div class="col-12 col-sm-11 mx-auto">
            <h3 class="contact-h3">Scotland, United Kingdom</h3>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12 col-sm-1 text-center">
            <h3 class="contact-h3 contact-icon"><a href="mailto:hello@rokas.dev"><fa-icon [icon]="faEnvelope" class="pr-3"></fa-icon></a></h3>
          </div>
          <div class="col-12 col-sm-11 mx-auto">
            <h3 class="contact-h3 contact-url"><a href="mailto:hello@rokas.dev">hello@rokas.dev</a></h3>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12 col-sm-1 text-center">
            <h3 class="contact-h3 contact-icon"><a href="https://www.linkedin.com/in/jankunasrokas"><fa-icon [icon]="faLinkedin" class="pr-3"></fa-icon></a></h3>
          </div>
          <div class="col-12 col-sm-11 mx-auto">
            <h3 class="contact-h3 contact-url"><a href="https://www.linkedin.com/in/jankunasrokas">linkedin.com/in/jankunasrokas</a></h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
