<div class="contact-wrapper">
  <div class="container">
  <h2 class="mt-5 pt-3 mb-1">Contact me</h2>

  <div class="card mt-4 pb-4">
    <div class="p-4">

      <div class="row">
        <div class="col-1 text-center">
          <h4><fa-icon [icon]="faMapMarker" class="pr-3"></fa-icon></h4>
        </div>
        <div class="col-10 col-sm-11 mx-auto">
          <h4>Scotland, United Kingdom</h4>
          <h4>Vilnius, Lithuania</h4>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-1 text-center">
          <h4><a href="mailto:hello@rokas.dev"><fa-icon [icon]="faEnvelope" class="pr-3"></fa-icon></a></h4>
        </div>
        <div class="col-10 col-sm-11 mx-auto">
          <h4><a href="mailto:hello@rokas.dev">hello@<wbr>rokas.dev</a></h4>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-1 text-center">
          <h4><a href="https://www.linkedin.com/in/jankunasrokas"><fa-icon [icon]="faLinkedin" class="pr-3"></fa-icon></a></h4>
        </div>
        <div class="col-10 col-sm-11 mx-auto">
          <h4><a href="https://www.linkedin.com/in/jankunasrokas">linkedin<wbr>.com/<wbr>in/<wbr>jankunas<wbr>rokas</a></h4>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>
