<div class="container">
  <!-- Experience -->
  <h2 class="mt-4 mb-1">Experience</h2>
  <p class="font-weight-light mt-3">For the last few years I have been helping startups and other companies achieve
    their goals on time and
    with high quality. Working as a mid-level full stack software developer, junior full stack developer, customer
    service
    representative, and a programmer trainee I have increased invaluable industry knowledge.</p>
  <h4 class="pt-4 d-lg-inline-block">Full Stack Software Developer</h4>
  <h5 class="float-lg-right d-lg-inline-block pt-lg-4">Feb, 2020 - Present</h5>
  <h5>Insoft</h5>
  <p>Middle level full stack software developer.</p>
  <p>Full time position.</p>

  <h4 class="pt-4 d-lg-inline-block">Full Stack Junior Software Developer</h4>
  <h5 class="float-lg-right d-lg-inline-block pt-lg-4">Jun, 2019 - Feb, 2020</h5>
  <h5>Insoft</h5>
  <p>Full time position.</p>

  <h4 class="pt-4 d-lg-inline-block">Customer Service Representative</h4>
  <h5 class="float-lg-right d-lg-inline-block pt-lg-4">May, 2018 - Jun, 2019</h5>
  <h5>Booster.io</h5>
  <p>Provided support for Booster for WooCommerce, WooCommerce and WordPress.</p>
  <p>Wrote documentation based on PHP code.</p>
  <p>Tracked and reported bugs.</p>
  <p>Interacted with over 4,000 customers.</p>

  <h4 class="pt-4 d-lg-inline-block">Programmer Trainee</h4>
  <h5 class="float-lg-right d-lg-inline-block pt-lg-4">Summer of 2017</h5>
  <h5>ATEA</h5>
  <p>Learned how to test user interfaces both manually and with automation tools.</p>
  <p>Was responsible for testing and giving feedback on software.</p>


  <!-- Education -->
  <h2 class="mt-5 mb-1">Education</h2>
  <h4 class="pt-4 d-lg-inline-block">Bachelor of Science (Honors) in Computer Science</h4>
  <h5 class="float-lg-right d-lg-inline-block pt-lg-4">2018 - 2022 (Expected)</h5>
  <h5>University of Dundee</h5>
  <p>1st honors class, equivalent to 3.8-4.0 GPA.</p>
  <p>#1 in my course (award received).</p>

  <h4 class="pt-4 d-lg-inline-block">High School Diploma</h4>
  <h5 class="float-lg-right d-lg-inline-block pt-lg-4">2014 - 2018</h5>
  <h5>Vilnius Zirmunai Gymnasium</h5>
  <p>100 perfect score in 3 state exams.</p>
  <p>10 perfect grade in the majority of subjects.</p>

  <!-- Recognition -->
  <h2 class="mt-5 mb-1">Awards</h2>
  <h4 class="pt-4 d-lg-inline-block">Hackathon Winning Team</h4>
  <h5 class="float-lg-right d-lg-inline-block pt-lg-4">2019</h5>
  <h5>University of Dundee</h5>
  <p>Steganography challenge winning team. Java application was capable of hiding information in the least significant
    bits of an image.</p>

  <h4 class="pt-4 d-lg-inline-block">Google Hashcode 2nd Place in Dundee</h4>
  <h5 class="float-lg-right d-lg-inline-block pt-lg-4">2019</h5>
  <h5>University of Dundee Computing Hub</h5>
  <p>In a team of 2 we came up with a solution for rearranging pictures based on their contents to achieve the highest
    score.</p>

  <!-- Skills -->
  <h2 class="mt-5 mb-1">Skills</h2>
  <div class="row mt-1">
    <div class="col-12 col-sm-6">
      <div class="mt-3">
        <p>Angular</p>
      </div>
      <div class="mt-3">
        <p>Spring Boot</p>
      </div>
      <div class="mt-3">
        <p>Hibernate JPA</p>
      </div>
      <div class="mt-3">
        <p>Git</p>
      </div>
      <div class="mt-3">
        <p>Dagger</p>
      </div>
      <div class="mt-3">
        <p>Linux</p>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="mt-3">
        <p>Java</p>
      </div>
      <div class="mt-3">
        <p>JavaScript & TypeScript</p>
      </div>
      <div class="mt-3">
        <p>C & C++ (Academic knowledge)</p>
      </div>
      <div class="mt-3">
        <p>SQL</p>
      </div>
      <div class="mt-3">
        <p>HTML</p>
      </div>
      <div class="mt-3">
        <p>CSS</p>
      </div>
    </div>
  </div>
</div>
