<div class="container">
  <!-- Experience -->
  <h2 class="mt-4 mb-1 pb-1">Experience</h2>
  <p class="font-weight-light mt-3">Over the course of my career, I’ve helped companies achieve their goals by
    engineering and building software systems that prioritize scalability, maintainability, and reliability. Working as
    a full-stack software engineer and other IT roles, I’ve acquired invaluable industry knowledge across sectors
    including finance, government systems, and enterprise software.</p>

  <h4 class="mt-4 d-lg-inline-block">Software Engineer</h4>
  <h5 class="float-lg-right mt-1 d-lg-inline-block pt-lg-4 text-lg-right">October 2023 - Present</h5>
  <h5>Devbridge (acquired by Cognizant)</h5>
  <p>Java, Spring Boot, Azure Service Bus, Harness, Liquibase, Gradle, React, Redux, Typescript, Docker, Git.</p>

  <h4 class="mt-1 pt-4 d-lg-inline-block">Senior Software Engineer</h4>
  <h5 class="float-lg-right mt-1 d-lg-inline-block pt-lg-4 text-lg-right">June 2019 - October 2023 (4 years 5
    months)</h5>
  <h5>Insoft</h5>
  <p>Promoted from Software Engineer (Jan 2022) and Junior Software Engineer (Feb 2020).</p>
  <p>Owned and drove development in a greenfield project across its full lifecycle - from inception to release and
    subsequent updates - with growing responsibility over time.</p>
  <p class="mt-3">In this capacity:</p>
  <ul>
    <li>Developed backend and frontend features, integrated third-party services, implemented security mechanisms,
      containerised services.
    </li>
    <li>Designed and implemented system architecture, contributed to analysis, testing, and documentation, managed
      deployments and releases.
    </li>
    <li>Led project coordination, delegated tasks, and facilitated scrum events.</li>
    <li>Mentored and supported software engineers, coached junior engineers.</li>
    <li>Collaborated with the client and external system teams to align requirements and integrations.</li>
  </ul>

  <p>Worked across the full-stack, utilizing these technologies: </p>
  <ul>
    <li>Backend: Java, Spring Boot, Hibernate, JPA, PostgreSQL, JPQL, SQL, H2, Flyway, Maven.</li>
    <li>Frontend: Typescript, Angular 2+, HTML, CSS, Bootstrap, npm.</li>
    <li>Git, Linux, Postman, SoapUI, Docker, Nginx, JSON, XML, XSD, WSDL. REST and SOAP protocols.</li>
  </ul>

  <h4 class="mt-1 pt-4 d-lg-inline-block">Programmer Trainee <span>(Internship)</span></h4>
  <h5 class="float-lg-right mt-1 d-lg-inline-block pt-lg-4 text-lg-right">2017</h5>
  <h5>ATEA</h5>
  <p>Gained hands-on experience in various facets of the software development lifecycle, including manual and automated
    product testing, quality assurance, and more.</p>

  <!-- Education -->
  <h2 class="mt-5 mb-1 pb-1">Education</h2>
  <h4 class="mt-2 d-lg-inline-block">Bachelor of Science (Honors) in Computer Science</h4>
  <h5>University of Dundee</h5>
  <ul>
    <li>Graduated with First-class honours.</li>
    <li>Successfully balanced full-time work as a software engineer alongside my studies.</li>
    <li>Was recognised as the top student in my course for three years, earning a medal and certifications for
      outstanding academic achievements.
    </li>
    <li>Completed a four-year degree.</li>
  </ul>

  <h4 class="pt-4 d-lg-inline-block">High School Diploma</h4>
  <h5>Vilnius Zirmunai Gymnasium</h5>
  <ul>
    <li>Attained a perfect score of 100 in three state exams.</li>
    <li>Achieved a perfect grade of 10 in the majority of subjects.</li>
  </ul>

  <!-- Recognition -->
  <h2 class="mt-5 mb-1 pb-1">Awards & Achievements</h2>
  <h4 class="mt-2 d-lg-inline-block">Oracle Certified Professional: Java SE 11 Developer <span>(Certificate)</span></h4>
  <h5>Oracle</h5>
  <p>Pursued certification at the encouragement of my employer, as it was valued for government projects. The process
    reinforced my Java expertise and software engineering skills.
  </p>

  <h4 class="mt-1 pt-4 d-lg-inline-block">1st Place in Scotland in the Google Hashcode competition</h4>
  <h5>Google</h5>
  <p>As part of a three-member team, developed an optimized C++ solution for library and book management, securing the
    top position in Scotland and ranking in the top 4% worldwide.</p>

  <h4 class="mt-1 pt-4 d-lg-inline-block">Hackathon Winning Team</h4>
  <p>Developed a Java application that concealed information within the least significant bits of pixels, leading to
    victory as part of a four-member team.</p>

  <h4 class="mt-1 pt-4 d-lg-inline-block">Top 10 Lithuanian Programmer-Students</h4>
  <p>Took part in the ultimate nationwide stage of a programming competition, emphasizing the creation of swift and
    optimized solutions to challenges in C++. Invitations to this final round were extended to only the top 10
    individuals who successfully navigated the preceding three stages. Furthermore, secured the 3rd position in the
    second, city-wide stage held in Vilnius.</p>

  <div class="mb-3"></div>
</div>
