.cv-container {
  max-width: 725px;
}

.cv-avatar {
  width: 100px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
}

.cv-button {
  color: #424242;
  font-size: 22pt;
}

.cv-title {
  border-top: 2px solid #9E9E9E;
  border-bottom: 2px solid #9E9E9E;
}

.cv-contact {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  display: block;
}

.cv-category-title {
  border-bottom: 2px solid #9E9E9E;
}

.cv-name > h1 {
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #212121;
  line-height: 2.5rem;
}

.cv-title > h2 {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
  letter-spacing: -.1rem;
  color: #424242;
}

.cv-subtitle > p {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1.05rem;
  color: #424242;
}

.cv-list {
  margin: 0;
}

.cv-category-title > h3 {
  font-family: 'Chivo', sans-serif;
  font-weight: 900;
  color: #212121;
}

.cv-category-content > h4 {
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
  color: #212121;
}

.cv-category-content > h4 > a {
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
  color: #212121;
  text-decoration: underline;
}

.cv-category-content > h5 {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  color: #212121;
}

.cv-job-subtext {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  color: #757575 !important;
}

.cv-job-subtext > strong {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  color: #212121;
}

.cv-category-content > p {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  color: #424242;
}

.btn-contact {
  background-color: #E0E0E0;
  color: #000000;
}
