<!-- CV -->
<div class="container mt-4 cv-container">

  <!-- Top part - name, title, short message -->
  <div class="cv-top">
    <img src="assets/avatar.jpg" alt="Rokas Jankunas avatar" class="cv-avatar">
    <div class="cv-buttons text-center mt-3">
      <a href="https://github.com/LayoutXML"><fa-icon [icon]="faGithub" class="cv-button fbmr"></fa-icon></a>
      <a href="https://play.google.com/store/apps/dev?id=9095680560714446900"><fa-icon [icon]="faGooglePlay" class="cv-button fbmr fbml"></fa-icon></a>
      <a href="https://www.linkedin.com/in/jankunasrokas/"><fa-icon [icon]="faLinkedin" class="cv-button fbml"></fa-icon></a>
    </div>
    <div class="cv-name text-center mt-1">
      <h1>Rokas Jankunas</h1>
    </div>
    <div class="cv-title text-center pt-2 pb-1 mt-3">
      <h2>Full Stack Junior Software Developer, Student.<br>Featured on Gizmodo, Lifehacker, Android Authority, XDA-Developers</h2>
    </div>
    <div class="cv-subtitle mt-3">
      <p>For the last few years I have been helping startups and other companies achieve their goals on time and with high quality. Working as a full stack junior software developer, a customer service representative, and a programmer trainee I have increased invaluable industry knowledge.</p>
    </div>
    <div class="cv-contact mt-4">
      <a class="btn btn-primary btn-contact btn-lg btn-raised pl-5 pr-5 pt-2 pb-2 col-12 col-sm-6" href="/contact" role="button">Contact me</a>
    </div>
  </div>

  <!-- Main part - experience, education, projects, skills, recognition -->
  <div class="cv-main">

    <!-- Experience -->
    <div class="cv-category mt-5">
      <div class="cv-category-title pt-2 pb-1">
        <h3>Experience</h3>
      </div>
      <div class="cv-category-content mt-3">
        <h4>Full Stack Junior Software Developer</h4>
        <h5 class="cv-job-subtext"><strong>Insoft</strong> • Jun, 2019 - Present</h5>
        <p class="cv-list">Full time position</p>
      </div>
      <div class="cv-category-content mt-5">
        <h4>Customer Service Representative</h4>
        <h5 class="cv-job-subtext"><strong>Booster io</strong> • May, 2018 - Jun, 2019</h5>
        <p class="cv-list">Provided support for Booster for WooCommerce, WooCommerce and WordPress.</p>
        <p class="cv-list">Wrote documentation based on PHP code.</p>
        <p class="cv-list">Tracked and reported bugs.</p>
        <p class="cv-list">Interacted with over <strong>4,000 customers</strong>.</p>
      </div>
      <div class="cv-category-content mt-5">
        <h4>Programmer Trainee</h4>
        <h5 class="cv-job-subtext"><strong>ATEA</strong> • Summer of 2017</h5>
        <p class="cv-list">Learned how to test user interface both manually and with automation tools.</p>
        <p class="cv-list">Was responsible for testing and giving feedback on software used by several companies.</p>
      </div>
    </div>

    <!-- Education -->
    <div class="cv-category mt-5">
      <div class="cv-category-title pt-2 pb-1">
        <h3>Education</h3>
      </div>
      <div class="cv-category-content mt-3">
        <h4>University of Dundee</h4>
        <h5 class="cv-job-subtext"><strong>Bachelor of Science (Honors) in Computer Science</strong> • 2018 - 2022 (Expected)</h5>
        <p class="cv-list">
          <strong>1st honors</strong> class, equivalent to <strong>3.8-4.0 GPA</strong>
        </p>
        <p class="cv-list">
          <strong>#1</strong> in my course (award received)
        </p>
      </div>
      <div class="cv-category-content mt-5">
        <h4>Vilnius Zirmunai Gymnasium</h4>
        <h5 class="cv-job-subtext"><strong>High School Diploma</strong> • 2014 - 2018</h5>
        <p class="cv-list">
          100 perfect score in 3 state exams
        </p>
        <p class="cv-list">
          10 perfect grade in the majority of subjects
        </p>
      </div>
    </div>

    <!-- Projects -->
    <div class="cv-category mt-5">
      <div class="cv-category-title pt-2 pb-1">
        <h3>Personal Projects</h3>
      </div>
      <div class="cv-category-content mt-3">
        <h4><a href="/projects/sabs">SABS - Simple Adblocker for Samsung</a></h4>
        <h5>Java, Android</h5>
        <p class="cv-list">System-wide rootless adblocker, package disabler, and permission manager with more than <strong>100,000 downloads</strong>.</p>
        <p><strong><u>Featured in:</u></strong></p>
        <div class="container mb-3">
          <div class="row">
            <div class="col text-center align-items-end d-flex flex-wrap justify-content-center">
              <img src="assets/badges/gizmodo.png" alt="Gizmodo logo" class="featured-badge mb-3">
            </div>
            <div class="col text-center align-items-end d-flex flex-wrap justify-content-center">
              <img src="assets/badges/lifehacker.png" alt="Lifehacker logo" class="featured-badge mb-3">
            </div>
            <div class="col text-center align-items-end d-flex flex-wrap justify-content-center">
              <img src="assets/badges/xda-developers.png" alt="xda-developers logo" class="featured-badge mb-3">
            </div>
          </div>
        </div>
      </div>
      <div class="cv-category-content mt-5">
        <h4><a href="/projects/twelveish">Twelveish</a></h4>
        <h5>Java, Android Wear/Wear OS</h5>
        <p class="cv-list">Unique watch face that displays the approximate time in words in multiple languages. Almost <strong>20,000 downloads</strong> on the Google Play store.</p>
        <p><strong><u>Featured in:</u></strong></p>
        <div class="container mb-3">
          <div class="row">
            <div class="col text-center align-items-end d-flex flex-wrap justify-content-center">
              <img src="assets/badges/android_authority.png" alt="Android Authority logo" class="featured-badge mb-3">
            </div>
          </div>
        </div>
      </div>
      <div class="cv-category-content mt-5">
        <h4><a href="/projects/applistmanager">AppListManager</a></h4>
        <h5>Java, Android</h5>
        <p>Android library which minimizes developing time when working on application or activity lists on Android.</p>
      </div>
      <div class="cv-category-content mt-5">
        <h4><a href="/projects/ticktock">Ticktock Wear</a></h4>
        <h5>Java, Wear OS/Android Wear</h5>
        <p>TickTock Wear is an app that adds a ticking sound to Wear OS smartwatches.</p>
      </div>
      <div class="cv-category-content mt-5">
        <h4><a href="https://rokas.dev">rokas.dev</a> / <a href="https://rokasjankunas.com">rokasjankunas.com</a></h4>
        <h5>Bootstrap, CSS, JavaScript, GitHub Pages, Jekyll, Google Analytics, HTML & more</h5>
        <p>My personal website.</p>
      </div>
    </div>

    <!-- Recognition -->
    <div class="cv-categor mt-5">
      <div class="cv-category-title pt-2 pb-1">
        <h3>Awards</h3>
      </div>
      <div class="cv-category-content mt-3">
        <h4>Hackathon Winning Team</h4>
        <h5>University of Dundee • 2019</h5>
        <p>Steganography challenge winning team. Java application was capable of hiding information in the least significant bits of an image.</p>
      </div>
      <div class="cv-category-content mt-5">
        <h4>Google Hashcode 2nd Place in Dundee</h4>
        <h5>University of Dundee Computing Hub • 2019</h5>
        <p>In a team of 2 we came up with a solution for rearranging pictures based on their contents to achieve the highest score.</p>
      </div>
    </div>

    <!-- Skills -->
    <div class="cv-category mt-5">
      <div class="cv-category-title pt-2 pb-1">
        <h3>Skills</h3>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="cv-category-content mt-3">
            <p>Angular</p>
          </div>
          <div class="cv-category-content mt-3">
            <p>Spring Boot</p>
          </div>
          <div class="cv-category-content mt-3">
            <p>Java</p>
          </div>
          <div class="cv-category-content mt-3">
            <p>Git</p>
          </div>
          <div class="cv-category-content mt-3">
            <p>Dagger</p>
          </div>
          <div class="cv-category-content mt-3">
            <p>Linux</p>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="cv-category-content" id="cv-skills-columntop">
            <p>Java</p>
          </div>
          <div class="cv-category-content mt-3">
            <p>JavaScript & TypeScript</p>
          </div>
          <div class="cv-category-content mt-3">
            <p>C & C++ (Basic knowledge)</p>
          </div>
          <div class="cv-category-content mt-3">
            <p>SQL</p>
          </div>
          <div class="cv-category-content mt-3">
            <p>HTML</p>
          </div>
          <div class="cv-category-content mt-3">
            <p>CSS</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
