<footer class="footer bg-dark pt-4 pb-2 d-print-none">
  <p class="text-light text-left ml-2">© Rokas Jankunas <span class="d-none d-sm-inline">2018 - {{date | date: 'yyyy'}}</span>
    <a href="https://www.linkedin.com/in/jankunasrokas/"><fa-icon [icon]="faLinkedin" class="footer-button float-right fbml mr-2"></fa-icon></a>
    <a href="https://play.google.com/store/apps/dev?id=9095680560714446900"><fa-icon [icon]="faGooglePlay" class="footer-button float-right fbml fbmr"></fa-icon></a>
    <a href="https://github.com/LayoutXML"><fa-icon [icon]="faGithub" class="footer-button float-right fbmr"></fa-icon></a></p>
</footer>
