.jumbotron-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("~src/assets/background_mountains_low.jpg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("~src/assets/background_mountains_low.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("~src/assets/background_mountains_low.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("~src/assets/background_mountains_low.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  color: #ffffff;
  border-radius: 0;
  padding-top: 3rem;
}

.jumbotron {
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .animated-title {
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(40, end), blinking .75s step-end 7;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from, to {
    border-color: #ffffff;
  }
  50% {
    border-color: transparent;
  }
}

.corner-helper {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #ffffff;
  height: 1rem;
}
