<div class="jumbotron-main position-relative p-0" title="Rokas Jankunas">
  <div class="jumbotron mb-0 pt-5">
    <div class="container">
      <div class="row">
        <div class="d-none col-md-3 d-md-flex align-items-center">
          <a role="button" (click)="routingService.routeTo(Urls.ABOUT)" class="stretched-link">
            <img src="../../../assets/profile.jpg" class="rounded-circle profile" alt="Profile picture">
          </a>
        </div>
        <div class="col-4 offset-4 d-md-none">
          <a role="button" (click)="routingService.routeTo(Urls.ABOUT)" class="stretched-link">
            <img src="../../../assets/profile.jpg" class="rounded-circle mw-100 mh-100 mb-3" alt="Profile picture">
          </a>
        </div>
        <div class="col-12 col-md-9">
          <h1 class="display-4" [class.animated-title]="!(routingService.loading | async)">Rokas Jankunas</h1>
          <p class="lead">Hello, my name is Rokas Jankunas and I'm a tech enthusiast and a Software Engineer,
            specialising
            in Java tech stack. My personal projects have been featured on major tech news websites such as Gizmodo,
            Lifehacker, Android Authority, and XDA-Developers. In addition to that, I have an Oracle Certified
            Professional
            Java certification.</p>
          <a class="btn btn-primary btn-lg btn-raised stretched-link d-print-none" role="button"
             (click)="routingService.routeTo(Urls.ABOUT)">About me</a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-0 p-0 corner-helper"></div>
</div>
