<div class="jumbotron-main position-relative p-0" title="Rokas Jankunas">
  <div class="jumbotron mb-0 pt-5">
    <div class="container">
      <h1 class="display-4" [class.animated-title]="!(routingService.loading | async)">Rokas Jankunas</h1>
      <p class="lead">Hello, my name is Rokas Jankunas and I'm a a tech enthusiast and a Software Engineer, specialising
        in Java tech stack. My personal projects have been featured on major tech news websites such as Gizmodo,
        Lifehacker, Android Authority, and XDA-Developers. In addition to that, I have an Oracle Certified Professional
        Java certification.</p>
      <img src="">
      <a class="btn btn-primary btn-lg btn-raised stretched-link" role="button"
         (click)="routingService.routeTo(Urls.ABOUT)">About me</a>
    </div>
  </div>
  <div class="m-0 p-0 corner-helper"></div>
</div>
