<div class="container pt-4">
  <div class="jumbotron jumbotron-main position-relative" title="Rokas Jankunas">
    <h1 class="display-4">Rokas Jankunas</h1>
    <p class="lead">My name is Rokas Jankunas and I’m a mid-level full stack software developer and a student. My personal projects have been featured on Gizmodo, Lifehacker, Android Authority and XDA-Developers.</p>
    <a class="btn btn-primary btn-lg btn-raised stretched-link" role="button" (click)="routingService.routeTo('/about')">About me</a>
  </div>
</div>
