---
permalink: /contact/
---
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130446859-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-130446859-1');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Contact - Rokas Jankunas</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="icon" type="image/png" href="../data/avatar.png">
  <meta name="theme-color" content="#424242" />
  {% seo %}
</head>

<body>

  <!-- Navbar -->
  {% include navbar.html %}

  <!-- Contact information -->
  <main class="mt-5">
    <div class="container mt-4">
      <h2 class="mb-3"><i class="fas fa-at pr-2"></i>Contact me</h2>

      <div class="card">
        <div class="card-body p-4">

          <div class="row">
            <div class="col-12 col-sm-1 text-center">
              <h3 class="contact-h3 contact-icon"><i class="fas fa-map-marker-alt pr-3"></i></h3>
            </div>
            <div class="col-12 col-sm-11 mx-auto">
              <h3 class="contact-h3">Scotland, United Kingdom</h3>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12 col-sm-1 text-center">
              <h3 class="contact-h3 contact-icon"><a href="mailto:hello@rokasjankunas.com"><i class="fas fa-envelope pr-3"></i></a></h3>
            </div>
            <div class="col-12 col-sm-11 mx-auto">
              <h3 class="contact-h3 contact-url"><a href="mailto:hello@rokasjankunas.com">hello@rokasjankunas.com</a></h3>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12 col-sm-1 text-center">
              <h3 class="contact-h3 contact-icon"><a href="https://www.linkedin.com/in/jankunasrokas"><i class="fab fa-linkedin pr-3"></i></a></h3>
            </div>
            <div class="col-12 col-sm-11 mx-auto">
              <h3 class="contact-h3 contact-url"><a href="https://www.linkedin.com/in/jankunasrokas">linkedin.com/in/jankunasrokas</a></h3>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  {% include footer.html %}

  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      $('body').bootstrapMaterialDesign();
    });
  </script>
</body>

</html>
