---
permalink: /projects/
title: All Projects
layout: default
---
<!-- All projects, customized Bootstrap cards -->
<main class="mt-5">
  <div class="container mt-4">
    <h2 class="mb-3"><i class="fas fa-code pr-2"></i>Recent projects</h2>
    <div class="card-deck d-flex flex-wrap-reverse">
      <!-- Project #1 -->
      {% include twelveish.html %}

      <!-- Project #2 -->
      {% include listlauncher.html %}

      <!-- Project #3 -->
      {% include applistmanager.html %}

      <!-- Project #4 -->
      {% include ticktock.html %}

      <!-- Project #5 -->
      {% include sabs.html %}

    </div>
  </div>
</main>
