---
permalink: /projects/
title: All Projects
layout: default
---
<!-- All projects, customized Bootstrap cards -->
<main class="mt-5">
  <div class="container mt-4">
    <h1 class="mb-3"><i class="fas fa-code pr-2"></i>Recent projects</h1>
    <div class="card-deck d-flex flex-wrap">
      <!-- Project #1 -->
      {% include projects/twelveish.html %}

      <!-- Project #2 -->
      {% include projects/listlauncher.html %}

      <!-- Project #3 -->
      {% include projects/applistmanager.html %}

      <!-- Project #4 -->
      {% include projects/ticktock.html %}

      <!-- Project #5 -->
      {% include projects/sabs.html %}

    </div>
  </div>
</main>
